.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}
.card-item {
  border-radius: 15px;
  background-color: #ffffff;
  height: 100px;
  width: 100px;
  margin: 20px;
}
.heading {
  color: #171f46;
  font-size: 12px;
  font-weight: bold;
}
.para {
  color: #64748b;
  font-size: 8px;
}
.img-prop {
  height: 50px;
  width: 40px;
}

/* Write CSS code here. */
